.map {
  height: 100vh;
}

.popup {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 200px;

    .img {
      width: 90%;
    }

    .date {
      .heading {
        font-size: .9em;
        color: #5a5a5a;
      }

      .timestamp {
        font-size: 1.3em;
        margin: 0;
      }
    }
  }
}